input {
    border: 1px solid #e2e2e2;
    padding: 5px;
    border-radius: 3px;
}

#be-file-list-btns {
    margin: 10px 0;
}

#be-new-details {
    margin: 10px 0;
    display: none;
    visibility: hidden;
}

#be-file-list-btns, #be-file-list {
    margin-top: 20px;
}

#be-file-list {
    border-collapse: collapse;
    width: 100%;
}

#be-file-list th {
    background-color: #f2f2f2;
    border: 1px solid #d2d2d2;
    text-align: left;
    padding: 10px 5px;
    font-family: Verdana, Helvetica, sans-serif;
}

#be-file-list tr {
    padding: 5px;
}

#be-file-list tr:nth-child(2n + 1) {
    background-color: #eee;
}

#be-file-list td {
    padding: 5px;
    border: 1px solid #ddd;
}

#be-file-list td:first-child {
    width: 30px;
    text-align: center;
}

#be-file-list td button {
    margin-right: 5px;
}